body{
    background-color: #FA9500
}

#shenlong1{
    float: left; transform: scaleX(-1);height: 665px; width: 400px; margin-left: 167px
}

#shenlong2{
    float: right; width: 400px; margin-right: 167px;height: 665px
}

#section{
    background-color: #FAD200; width: 387px; height: 665px
}

h1{
    font-size: 25px
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#dbz{
    width: 110px; vertical-align: middle
}

#personajes{
    width: 370px
}

#boton{
    width: 70%;border-style: solid; border-color: #FA9500
}
